## Map

In [5]:
number = [1,2,3,4,5,6,7,8,9]

def square(x):
    return x**2

list(map(square, number))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

---
### map with lambda function

In [4]:
number = [1,2,3,4,5,6,7,8,9]

list(map(lambda x: x*x, number))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
number1 = [1,2,3,4,5,6,7]
number2 = [1,2,3,4,7,8,9]

list(map(lambda x,y: x**2 + y**2, number1, number2))

[2, 8, 18, 32, 74, 100, 130]

In [11]:
letter = ["satyajit", "sachin", "parth"]
list(map(str.upper, letter))

['SATYAJIT', 'SACHIN', 'PARTH']

---
### map on dictionary

In [12]:
def get_name(person):
    """ Return the name of the person"""
    return person['name']

people = [
    {'name': 'John', 'age': 30},
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 40}
]

list(map(get_name, people))

['John', 'Alice', 'Bob']